# <center><u> CP322: Assignment 1 – Winter 2023 </u> </center>
# <center><u>  Due on  February 02, 2023 (Before 11:59 PM) </u> </center>
 
 This is an individual assignment, and we will practice the concepts to read, clean and explore the dataset, identifying the type of data collected, missing values, anomalies, exploring characteristics of individual variables. 
 
 For this assignment, you must use Python language syntax. You will use this jupyter notebook to write your code without errors. You will be provided with a Makefile and instructions on using it. If your code does not run, then you will score zero. Therefore, ensure you have removed all syntax errors from your code. •	Gradescope platform would be used to upload the assignments for grading. The link to the Gradescope assignment is available on Myls course page. 
 
 For submission, Drag and drop your code file(s) into Gradescope. Make sure that your file name should be as suggested in the assignment, using a different name may score zero.
 
 - Please note that the submitted code will be checked for plagiarism. By submitting this zip file, you would confirm that you have not received unauthorized assistance in preparing the assignment. You also confirm that you are aware of course policies for submitted work. 
 
 - Marks will be deducted from any questions where these requirements are not met.
 
 - Multiple attempts will be allowed, but only your last submission before the deadline will be graded. Instructor reserves the right to take off points for not following the directions.
 
<b>Warning:</b> Follow the assignment instructions to the letter in terms of the file names and function names, as this assignment will be auto-graded. If anything is not as per the description, the auto-grading fails, and your assignment will be given a Zero mark.

Note: 
- For each question in the assignment, please write down your answer in the answer cell(s) right below the question. 
- It is helpful to have extra cells breaking down the process towards reaching your final answer. If you happen to create new cells below your answer to run codes, **NEVER** add cells between a question cell and the answer cell below it. It will cause errors when autograder run.
- Finally, unless it is stated otherwise, try to avoid using python for loops or list comprehensions.  The majority of this part of assignment can be done using builtin commands in Pandas and numpy.

## Import the Python Packages

If any of the package is not available then install it.

In [71]:
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
sns.set(style = "whitegrid", 
        color_codes = True,
        font_scale = 1.5)
plt.style.use('fivethirtyeight')
import os # Used to interact with the file system


## Part 1: Cleaning and Exploring Data with Pandas
## 1: Loading Data sets

### Question 1: Reading in the Files

Use the following information and let's attempt to load `bus.csv` dataset, into pandas dataframe named `bus`.

URL for loading the business data is: 

- "https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/bus.csv"

**Note:** Because of character encoding issue with (`bus`) dataset, it will require an additional argument `encoding='ISO-8859-1'` when calling `pd.read_csv`. At some point in your future, you should read all about [character encodings](https://diveintopython3.problemsolving.io/strings.html).

In [72]:
bus = pd.read_csv("https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/bus.csv", encoding='ISO-8859-1')

Now that you've read in the file, let's try some `pd.DataFrame` methods ([docs](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.html)).
Use the `DataFrame.head` method to show the top few lines of the `bus` dataframe. To show multiple return outputs in one single cell, you can use `display(EXPRESSION)`, change the EXPRESSION variable appropriately with code you want to show result/ouput for.

In [73]:
bus.head()

,business id column,name,address,city,state,postal_code,latitude,longitude,phone_number
0,1000,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110,37.755282,-122.420493,-9999
1,100010,ILLY CAFFE SF_PIER 39,PIER 39 K-106-B,San Francisco,CA,94133,-9999.000000,-9999.000000,14154827284
2,100017,AMICI'S EAST COAST PIZZERIA,475 06th St,San Francisco,CA,94103,-9999.000000,-9999.000000,14155279839
3,100026,LOCAL CATERING,1566 CARROLL AVE,San Francisco,CA,94124,-9999.000000,-9999.000000,14155860315
4,100030,OUI OUI! MACARON,2200 JERROLD AVE STE C,San Francisco,CA,94124,-9999.000000,-9999.000000,14159702675

The `DataFrame.describe` method can also be handy for computing summaries of numeric columns of our dataframes.

In [74]:
bus.describe()

       business id column     latitude    longitude  phone_number
count         6253.000000  6253.000000  6253.000000  6.253000e+03
mean         60448.948984 -5575.337966 -5645.817699  4.701819e+09
std          36480.132445  4983.390142  4903.993683  6.667508e+09
min             19.000000 -9999.000000 -9999.000000 -9.999000e+03
25%          18399.000000 -9999.000000 -9999.000000 -9.999000e+03
50%          75685.000000 -9999.000000 -9999.000000 -9.999000e+03
75%          90886.000000    37.776494  -122.421553  1.415533e+10
max         102705.000000    37.824494     0.000000  1.415988e+10

## 2: Examining the Business Data File

From its name alone, it is expected that the `bus.csv` file to contain information about the restaurants. Let's investigate the granularity of this dataset.

In [75]:
bus.head()

,business id column,name,address,city,state,postal_code,latitude,longitude,phone_number
0,1000,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110,37.755282,-122.420493,-9999
1,100010,ILLY CAFFE SF_PIER 39,PIER 39 K-106-B,San Francisco,CA,94133,-9999.000000,-9999.000000,14154827284
2,100017,AMICI'S EAST COAST PIZZERIA,475 06th St,San Francisco,CA,94103,-9999.000000,-9999.000000,14155279839
3,100026,LOCAL CATERING,1566 CARROLL AVE,San Francisco,CA,94124,-9999.000000,-9999.000000,14155860315
4,100030,OUI OUI! MACARON,2200 JERROLD AVE STE C,San Francisco,CA,94124,-9999.000000,-9999.000000,14159702675

### Question 2a

The `bus` dataframe contains a column called `business id column` which probably corresponds to a unique business id (also called `primary key`).  However, let's first rename that column to `bid`.  Modify the `bus` dataframe by renaming that column to `bid`.

**Note**: In practice, you might want to do this renaming when the table is loaded but for grading purposes so let's do it here.

Hint: Use DATAFRAME.rename(columns={"OLD_NAME": "NEW_NAME"}). Here, replace CAPITAL LETTERS appropriately.

In [76]:
bus = bus.rename(columns={"business id column": "bid"})
bus.head()

,bid,name,address,city,state,postal_code,latitude,longitude,phone_number
0,1000,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110,37.755282,-122.420493,-9999
1,100010,ILLY CAFFE SF_PIER 39,PIER 39 K-106-B,San Francisco,CA,94133,-9999.000000,-9999.000000,14154827284
2,100017,AMICI'S EAST COAST PIZZERIA,475 06th St,San Francisco,CA,94103,-9999.000000,-9999.000000,14155279839
3,100026,LOCAL CATERING,1566 CARROLL AVE,San Francisco,CA,94124,-9999.000000,-9999.000000,14155860315
4,100030,OUI OUI! MACARON,2200 JERROLD AVE STE C,San Francisco,CA,94124,-9999.000000,-9999.000000,14159702675

### Question 2b

Examining the entries in `bus`, is the `bid` unique for each record (i.e. each row of data)? Your code should compute the answer, i.e. don't just hard code `True` or `False`.

Hint: use `value_counts()` or `unique()` to determine if the `bid` series has any duplicates.

In [77]:
if len(bus.bid.unique()) == len(bus):
    is_bid_unique = True
else:
    is_bid_unique = False
print(is_bid_unique)

True

### Question 2c

In the two cells below create two **series** 

a) where the index is the `name` of the business and the value is the number of records with that `name`
b) where the index is the `address` of the business and the value is the number of records with that `address`

Order both series in descending order by count. You may need to use `value_counts()`.

In [78]:
# Part a) 
name_counts = bus.name.value_counts()
name_counts.head(20)

Peet's Coffee & Tea                                       20
Starbucks Coffee                                          13
McDonald's                                                10
Jamba Juice                                               10
STARBUCKS                                                  9
Proper Food                                                9
Mixt Greens/Mixt                                           8
Specialty's Cafe & Bakery                                  8
Philz Coffee                                               7
The Organic Coup                                           7
Starbucks                                                  7
Whole Foods Market                                         7
Blue Bottle Coffee                                         7
Bon Appetit @ Twitter                                      6
Lee's Deli                                                 6
BlueStar Refreshment Services @ Uber Technologies, Inc     6
Annie's Hot Dogs & Pretzels                                5
JW Marriott SF Union Square                                5
STARBUCKS COFFEE                                           5
PEET'S COFFEE & TEA                                        5
Name: name, dtype: int64

In [79]:
address_counts = bus.address.value_counts()
address_counts.head(10)

Off The Grid              39
428 11th St               34
2948 Folsom St            17
3251 20th Ave             17
Pier 41                   16
103 Horne Ave             14
24 Willie Mays Plaza      13
Off the Grid              11
1 United Nations Plaza    10
2948 Folsom St.           10
Name: address, dtype: int64

### Question 2d

Based on the above calculations answer each of the following questions by filling the value in the variable.

1. What does each record represent?  
1. What is the minimal primary key?

In [80]:
# What does each record represent?  Valid answers are:
#    "One location of a restaurant."
#    "A chain of restaurants."
#    "A city block."
q2d_part1 = "One location of a restaurant."

# What is the minimal primary key? Valid answers are:
#    "bid"
#    "bid, name"
#    "bid, name, address"
q2d_part2 = "bid"

## 3: Cleaning the Business Data Postal Codes

The business data contains postal code information that can used to aggregate the ratings over regions of the city.  Let's examine and clean the postal code field.  The postal code (sometimes also called a ZIP code) partitions the city into regions:

<img src="https://www.usmapguide.com/wp-content/uploads/2019/03/printable-san-francisco-zip-code-map.jpg" alt="ZIP Code Map" style="width: 600px">

### Question 3a

How many restaurants are in each ZIP code? 

In the cell below, create a **series** where the index is the postal code and the value is the number of records with that postal code in descending order of count. You may need to use `groupby()`, `size()`, or `value_counts()`. Do you notice any odd/invalid zip codes?

<!--
BEGIN QUESTION
name: q3a
points: 1
-->

In [81]:
zip_counts = bus.postal_code.value_counts()
print(zip_counts.to_string())

94103         562
94110         555
94102         456
94107         408
94133         398
94109         382
94111         259
94122         255
94105         249
94118         231
94115         230
94108         229
94124         218
94114         200
-9999         194
94112         192
94117         189
94123         177
94121         157
94104         142
94132         132
94116          97
94158          90
94134          82
94127          67
94131          49
94130           8
94143           5
94301           2
94188           2
94101           2
CA              2
94013           2
941102019       1
941             1
95112           1
94105-2907      1
94102-5917      1
94124-1917      1
94621           1
95122           1
95132           1
95109           1
95133           1
95117           1
94901           1
94105-1420      1
94544           1
64110           1
94122-1909      1
00000           1
94080           1
Ca              1
94602           1
94129           1
94014           1
94117-3504      1
94518           1
94120           1
92672           1
95105           1
941033148       1
94123-3106      1

### Question 3b

Answer the following questions about the `postal_code` column in the `bus` dataframe.

1. The ZIP code column is which of the following type of data:
    1. Quantitative Continuous
    1. Quantitative Discrete
    1. Qualitative Ordinal
    1. Qualitative Nominal    
1. What Python data type is used to represent a ZIP code?

*Note*: ZIP codes and postal codes are the same thing.

Please write your answers in the variables below:

<!--
BEGIN QUESTION
name: q3b
points: 2
-->

In [ ]:
# The ZIP code column is which of the following type of data:
#   "Quantitative Continuous" 
#   "Quantitative Discrete"
#   "Qualitative Ordinal"
#   "Qualitative Nominal"
q3b_part1 = "Quantitative Discrete"

# What Python data type is used to represent a ZIP code? 
#    "str"
#    "int"
#    "bool"
#    "float"
q3b_part2 = "int"

### Question 3c

In question 3a, a large number of potentially invalid ZIP codes exist (e.g., "Ca").  These are likely due to data entry errors.  To get a better understanding of the potential errors in the zip codes, do the following:

1. Import a list of valid San Francisco ZIP codes by using `pd.read_json` (from URL = 'https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/sf_zipcodes.json') to load the file `sf_zipcodes.json` and extract a **series** of type `str` containing the valid ZIP codes.  

*Hint: set `dtype` when invoking `read_json`.*

2. Construct a `DataFrame` containing only the businesses which DO NOT have valid ZIP codes.  You will probably want to use the `Series.isin` function.

**Step 1**

<!--
BEGIN QUESTION
name: q3ci
points: 1
-->

In [ ]:
zip_bus = pd.read_json('https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/sf_zipcodes.json', dtype='str')
valid_zips = zip_bus['zip_codes']
valid_zips.head()

**Step 2**

<!--
BEGIN QUESTION
name: q3cii
points: 1
-->

In [ ]:
invalid_zip_bus = bus[~bus['postal_code'].isin(valid_zips)].copy()
invalid_zip_bus.head(20)


### Question 3d

In the previous question, many of the businesses had a common invalid postal code that was likely used to encode a MISSING postal code.  Do they all share a potentially "interesting address"?

In the following cell, construct a **series** that counts the number of businesses at each `address` that have this single likely MISSING postal code value.  Order the series in descending order by count. 

After examining the output.  Answer the following question by filling in the appropriate variable. If we were to drop businesses with MISSING postal code values would a particular class of business be affected?  If you are unsure try to search the web for the most common addresses.


<!--
BEGIN QUESTION
name: q3d
points: 2
-->

In [116]:
missing_zip_address_count = bus['missing_postal_code'] = bus['postal_code'].isnull()
missing_zip_address_count = bus.groupby(['address'])['missing_postal_code'].sum()
missing_zip_address_count.head(20)

address
001 WEST PORTAL Ave        0
0044 Montgomery St  LL1    0
022 Battery St             0
0239 BALBOA St             0
0259 Kearny St             0
0264 Kearny St             0
033 WEST PORTAL Ave        0
0427 CASTRO St             0
0436 BALBOA St             0
045 CASTRO St              0
050 WEST PORTAL Ave        0
052 California St          0
0530 BALBOA St             0
0537 BALBOA St             0
054 WEST PORTAL Ave        0
0600 GUERRERO St           0
069 WEST PORTAL Ave        0
0703 GUERRERO St           0
085 WEST PORTAL Ave        0
0994 GUERRERO St           0
Name: missing_postal_code, dtype: int64

### Question 3e

**True or False**:  *If we were to drop businesses with MISSING postal code values, a particular class of business will be affected.*

<!--
BEGIN QUESTION
name: q3e
points: 1
-->

In [ ]:
# True or False: 
#  If we were to drop businesses with MISSING postal code values 
#   a particular class of business be affected.
q3d_true_or_false = True

### Question 3f

Examine the `invalid_zip_bus` dataframe we computed above and look at the businesses that DO NOT have the special MISSING ZIP code value.  Some of the invalid postal codes are just the full 9 digit code rather than the first 5 digits.  Create a new column named `postal5` in the original `bus` dataframe which contains only the first 5 digits of the `postal_code` column.   Finally, for any of the `postal5` ZIP code entries that were not a valid San Fransisco ZIP Code (according to `valid_zips`) set the entry to `None`.  

<!--
BEGIN QUESTION
name: q3f
points: 2
-->

In [117]:
bus['postal5'] = bus['postal_code'].str[:5]
bus['postal5'] = bus['postal5'].where(bus['postal5'].isin(valid_zips), None)

# Checking the corrected postal5 column
bus.loc[invalid_zip_bus.index, ['bid', 'name', 'postal_code', 'postal5']]

         bid                            name postal_code postal5
22    100126       Lamas Peruvian Food Truck       -9999    None
68    100417                COMPASS ONE, LLC  94105-1420   94105
96    100660                       TEAPENTER  94122-1909   94122
109   100781               LE CAFE DU SOLEIL  94117-3504   94117
144   101084                  Deli North 200       94518    None
...      ...                             ...         ...     ...
6173   99369                     HOTEL BIRON  94102-5917   94102
6174   99376  Mashallah Halal Food truck Ind       -9999    None
6199   99536               FAITH SANDWICH #2  94105-2907   94105
6204   99681                         Twister       95112    None
6241   99819                  CHESTNUT DINER  94123-3106   94123

[230 rows x 4 columns]

## Part 2: Linear Regression 
In this part of the assignment, you will use what you've learned in class to fit a regression model. The ``LinearRegression`` estimator is much more capable to handle multidimensional linear models of the form
$$
y = a_0 + a_1 x_1 + a_2 x_2 + \cdots
$$
where there are multiple $x$ values.
Geometrically, this is akin to fitting a plane to points in three dimensions, or fitting a hyper-plane to points in higher dimensions.

The multidimensional nature of such regressions makes them more difficult to visualize. We can use the single ``LinearRegression`` estimator to fit lines, planes, or hyperplanes to our data. It still appears that this approach would be limited to strictly linear relationships between variables, but it turns out we can relax this as well.

### Loading the data

In the English Premier League,  May - July represents a lull period due to the lack of club football. What makes up for it, is the intense transfer speculation that surrounds all major player transfers today. An important part of negotiations is predicting the fair market price for a player. You are tasked with predicting this Market Value of a player using the data provided below

The attached data set consists of the following attributes:

*  name: Name of the player
*  club: Club of the player
*  age : Age of the player
*  position : The usual position on the pitch
*  position_cat: 1 for attackers, 2 for midfielders, 3 for defenders, 4 for goalkeepers
*  market_value : As on transfermrkt.com on July 20th, 2017
*  page_views : Average daily Wikipedia page views from September 1, 2016 to May 1, 2017
*  fpl_value : Value in Fantasy Premier League as on July 20th, 2017
*  fpl_sel : % of FPL players who have selected that player in their team
*  fpl_points : FPL points accumulated over the previous season
*  region: 1 for England, 2 for EU, 3 for Americas, 4 for Rest of World
*  nationality
*  new_foreign : Whether a new signing from a different league, for 2017/18 (till 20th July)
*  age_cat
*  club_id
*  big_club: Whether one of the Top 6 clubs
*  new_signing: Whether a new signing for 2017/18 (till 20th July)

In [ ]:
football = pd.read_csv('https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/football.csv')
football.head()

<!-- BEGIN QUESTION -->

### Question 4
Drop columns named `'name','fpl_sel','position','nationality','region','new_foreign'` from `football` dataframe.
<!--
BEGIN QUESTION
name: q4
manual: True
points: 2
-->

In [ ]:
football = football.drop(columns=['name','fpl_sel','position','nationality','region','new_foreign'])
football.head()

<!-- END QUESTION -->



Let's look at the shape of the updated football data.

In [ ]:
print('Shape of Data: ', football.shape)
print('data.describe:')
football.describe()

### Question 5
Define the function `correlation` which computes the correlation of dataframe variables and returns the result. 
<!--
BEGIN QUESTION
name: q5
points: 2
-->

In [ ]:
def correlation(dataframe):
    return dataframe.corr()

<!-- BEGIN QUESTION -->

### Question 6 
Let's do some visualization to: 

a) Find the correlation between variables of `football` dataset using `correlation` function defined above, to create a heatmap.

b) Create a barplot of `age` vs `market_value`.

c) Create a barplot of `position_cat` vs `market_value`.

d) Create a barplot of `big_club` vs `market_value`.

e) Create a barplot of `club` vs `market_value`.

f) Create a scatterplot of `page_views` vs `market_value`.

<!--
BEGIN QUESTION
name: q6
manual: true
points: 6
-->

In [ ]:
# Part a)
corr = correlation(football)
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(240,10,as_cmap=True),
            square=True)

<!-- END QUESTION -->

In [ ]:
# Part b)
...
print('Market Value vs Age')
sns.barplot(data=football, x='age', y='market_value')
print('The age group of 22 to 29 have the most market value.')

In [ ]:
# Part c)
...
print('Market Value vs Position Cat')
sns.barplot(data=football, x='position_cat', y='market_value')
print('The Position Cat 1 has the most market value.')

In [ ]:
# Part d)
...
print('Market Value vs Big Club')
sns.barplot(data=football, x='big_club', y='market_value')
print('We see that the market value of players from the top 6 clubs is significantly higher than the other players.')

In [ ]:
# Part e)
ax = sns.barplot(data=football, x='club', y='market_value')
ax.set_xticklabels(ax.get_xticklabels(),rotation=80)
print('Market Value vs Club')

In [ ]:
# Part f)
sns.scatterplot(data=football, x='market_value', y='page_views')

### Training Validation Split
Now, split the data into train and test datasets. The training data is used to fit the model and test data is used to assess the performance of your model. Note that the seed is set to (random_state) to 42. This will produce a pseudo-random sequence of random numbers that is the same for every student. **Do not modify this in the following questions, as our tests depend on this random seed.**

In [ ]:
x_train, x_test = train_test_split(football, test_size = 0.25, random_state= 42)
display(x_train)
display(x_test)

Before, we split the data, drop `club` column from `football` dataset.

In [ ]:
# Dropping a column from the dataset
football = football.drop(columns=['club'])

In [ ]:
response_variable = 'market_value'
train_reg, test_reg = train_test_split(football, test_size = 0.25, random_state= 42) 
X_train_reg = train_reg[train_reg.columns[~train_reg.columns.isin([response_variable])]]
y_train_reg = train_reg[[response_variable]]
X_test_reg = test_reg[test_reg.columns[~ test_reg.columns.isin([response_variable])]]
y_test_reg = test_reg[[response_variable]]

### Question 7

Now that we have matrices, we can build a regression model with `scikit-learn`! Using the [`LinearRegression`] estimator, fit a regression model using `X_train_reg` and `y_train_reg`. Then, output the model's training accuracy below. You should get an training accuracy of around $0.74$ and test accuracy of around $0.80$.

<!--
BEGIN QUESTION
name: q7
points: 3
-->

In [ ]:
reg_model = linear_model.LinearRegression()
...
reg_model.fit(X_train_reg, y_train_reg)
y_train_pred = reg_model.predict(X_train_reg)

training_accuracy = reg_model.score(X_train_reg, y_train_reg)
test_accuracy = reg_model.score(X_test_reg, y_test_reg)

print ('Regression: R^2 score on training set', training_accuracy)
print ('Regression: R^2 score on test set', test_accuracy)

<!-- BEGIN QUESTION -->

### Question 8

Create a dataframe of `y_test_reg` (actual), `predicted values` (predicted), and `residual`. Then create a `lmplot` (actualv vs predicted values). 
<!--
BEGIN QUESTION
name: q8
manual: true
points: 3
-->

In [ ]:
y_pred = reg_model.predict(X_test_reg)
y_pred_reshaped = y_pred.reshape(-1)
residual_df = pd.DataFrame({'actual': y_test_reg.values.flatten(), 
                            'predicted': y_pred_reshaped, 
                            'residual': y_test_reg.values.flatten() - y_pred_reshaped})
sns.lmplot(x='actual', y='predicted', data=residual_df)
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 9

Also, calculate and print the Root Mean Square Error for the regression model fitted above.

<!--
BEGIN QUESTION
name: q9
manual: True
points: 2
-->

In [ ]:
rmse = np.sqrt(np.mean((y_test_reg.values - y_pred) ** 2))
print("Root Mean Square Error: ", rmse)

<!-- END QUESTION -->



## Part 3: Spam/Ham Classification
### Feature Engineering, Logistic Regression, Cross Validation
In this part of the assignment, you will use what you've learned in class to fit a classifier that can distinguish spam (junk or commercial or bulk) emails from ham (non-spam) emails. In addition to providing some skeleton code to fill in, we will evaluate your work based on your model's accuracy and your written responses in this notebook. This assignment section will cover the following concepts:

- Feature engineering with text data
- Using `sklearn` libraries to process data and fit classification models
- Validating the performance of your model and minimizing overfitting
- Generating and analyzing precision-recall curves
  
**Caution:**
This is a **real world** dataset – the emails you are trying to classify are actual spam and legitimate emails. As a result, some of the spam emails may be in poor taste or be considered inappropriate. The benefit of working with realistic data outweighs these innapropriate emails.

### Loading in the Data

In email classification, the goal is to classify emails as spam or not spam (referred to as "ham") using features generated from the text in the email. 

The dataset consists of email messages and their labels (0 for ham, 1 for spam). Your labeled training dataset contains 8348 labeled examples, and the unlabeled test set contains 1000 unlabeled examples.

Run the following cells to load in the data into Dataframe.

The `train` DataFrame contains labeled data that you will use to train your model. It contains four columns:

1. `id`: An identifier for the training example
1. `subject`: The subject of the email
1. `email`: The text of the email
1. `spam`: 1 if the email is spam, 0 if the email is ham (not spam)

The `test` DataFrame contains 1000 unlabeled emails.

In [ ]:
original_training_data = pd.read_csv('https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/spam_data/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/sukhjitsehra/datasets/master/CP322/spam_data/test.csv')

# Convert the emails to lower case as a first step to processing the text
original_training_data['email'] = original_training_data['email'].str.lower()
test['email'] = test['email'].str.lower()

original_training_data.head()

### Question 10a
First, let's check if our data contains any missing values. Fill in the cell below to print the number of NaN values in each column. If there are NaN values, replace them with appropriate filler values (i.e., NaN values in the `subject` or `email` columns should be replaced with empty strings). Print the number of NaN values in each column after this modification to verify that there are no NaN values left.

Note that while there are no NaN values in the `spam` column, we should be careful when replacing NaN labels. Doing so without consideration may introduce significant bias into our model when fitting.
<!--
BEGIN QUESTION
name: q10a
points: 1
-->

In [ ]:
print('Before imputation:') 
print(original_training_data.isnull().sum()) 
# fill in the missing values and update the original_training_data
original_training_data = original_training_data.fillna('')
print('------------')
print('After imputation:')
print(original_training_data.isnull().sum())

### Question 10b

In the cell below, print the text of the `email` field for the first ham and the first spam email in the original training set.

<!--
BEGIN QUESTION
name: q10b
points: 1
-->

In [ ]:
first_ham = original_training_data[original_training_data['spam'] == 0]['email'].iloc[0]
first_spam = original_training_data[original_training_data['spam'] == 1]['email'].iloc[0]
print(first_ham)
print(first_spam)

<!-- BEGIN QUESTION -->

### Question 10c

Discuss one thing you notice that is different between the two emails that might relate to the identification of spam.

<!--
BEGIN QUESTION
name: q10c
manual: True
points: 2
-->

_One difference between the two emails that might relate to the identification of spam is the format. The first email is written in plain text, while the second email is written in HTML. The use of HTML, specifically with font size changes and hyperlinks, is a common tactic used by spammers to make the email more visually appealing and encourage the recipient to click on links that might lead to malicious websites. The plain text format of the first email, on the other hand, is less likely to contain malicious content._

<!-- END QUESTION -->



### Training Validation Split
The training data downloaded is available for both training models and **validating** the models.  Therefore, you must it to separate training and validation datsets.  The **validation data** is used to assess the performance of your classifier once you are finished training. Note that the seed is set to (random_state) to 42. This will produce a pseudo-random sequence of random numbers that is the same for every student. **Do not modify this in the following questions, as our tests depend on this random seed.**

In [ ]:
# This creates a 90/10 train-validation split on our labeled data

train, val = train_test_split(original_training_data, test_size=0.1, random_state=42)

### Basic Feature Engineering

We would like to take the text of an email and predict whether the email is ham or spam. This is a *classification* problem, so we can use logistic regression to train a classifier. Recall that to train an logistic regression model we need a numeric feature matrix $X$ and a vector of corresponding binary labels $y$.  Unfortunately, our data are text, not numbers. To address this, we can create numeric features derived from the email text and use those features for logistic regression.

Each row of $X$ is an email. Each column of $X$ contains one feature for all the emails. We'll guide you through creating a simple feature, and you'll create more interesting ones as you try to increase the accuracy of your model.

### Question 11

Create a function called `words_in_texts` that takes in a list of `words` and a pandas Series of email `texts`. It should output a 2-dimensional NumPy array containing one row for each email text. The row should contain either a 0 or a 1 for each word in the list: 0 if the word doesn't appear in the text and 1 if the word does. For example:

```
>>> words_in_texts(['hello', 'bye', 'world'], 
                   pd.Series(['hello', 'hello worldhello']))

array([[1, 0, 0],
       [1, 0, 1]])
```

<!--
BEGIN QUESTION
name: q11
points: 3
-->

In [120]:
def words_in_texts(words, texts):
    '''
    Args:
        words (list): words to find
        texts (Series): strings to search in
    
    Returns:
        NumPy array of 0s and 1s with shape (n, p) where n is the
        number of texts and p is the number of words.
    '''
    indicator_array = []
    for text in texts:
        row = []
        for word in words:
            if word in text:
                row.append(1)
            else:
                row.append(0)
        indicator_array.append(row)
    return indicator_array

words_in_texts(['hello', 'bye', 'world'], 
                   pd.Series(['hello', 'hello worldhello']))

[[1, 0, 0], [1, 0, 1]]

We need to identify some features that allow us to distinguish spam emails from ham emails. One idea is to compare the distribution of a single feature in spam emails to the distribution of the same feature in ham emails. If the feature is itself a binary indicator, such as whether a certain word occurs in the text, this amounts to comparing the proportion of spam emails with the word to the proportion of ham emails with the word.

In [ ]:
from IPython.display import display, Markdown
df = pd.DataFrame({
    'word_1': [1, 0, 1, 0],
    'word_2': [0, 1, 0, 1],
    'type': ['spam', 'ham', 'ham', 'ham']
})
display(Markdown("> Our Original DataFrame has a `type` column and some columns corresponding to words. You can think of each row as a sentence, and the value of 1 or 0 indicates the number of occurences of the word in this sentence."))
display(df);
display(Markdown("> `melt` will turn columns into entries in a variable column. Notice how `word_1` and `word_2` become entries in `variable`; their values are stored in the value column."))
display(df.melt("type"))

<!-- BEGIN QUESTION -->

### Question 12
Create a bar chart like the one above comparing the proportion of spam and ham emails containing certain words. Choose a set of words that are different from the ones above, but also have different proportions for the two classes. Please ensure to only consider emails from `train`.

<!--
BEGIN QUESTION
name: q12
manual: True
points: 2
-->

In [ ]:
train=train.reset_index(drop=True) # We must do this in order to preserve the ordering of emails to labels for words_in_texts
some_words = ['opportunity', 'bank', 'receive', 'dear', 'best', 'deal']
Phi_train = []
for text in train['email']:
    phi = []
    for word in some_words:
        if word in text:
            phi.append(1)
        else:
            phi.append(0)
    Phi_train.append(phi)

df = pd.DataFrame(Phi_train, columns=some_words)

df['label'] = train['spam']

plt.figure(figsize=(12,8))
sns.barplot(x = "variable", 
            y = "value", 
            hue = "label", 
            data = (df
                    .replace({'label': 
                                {0 : 'Ham', 
                                 1 : 'Spam'}})
                    .melt('label')
                    .groupby(['label', 'variable'])
                    .mean()
                    .reset_index()))

plt.xlabel('Words')
plt.ylabel('Proportion of Emails')
plt.legend(title = "")
plt.title("Frequency of Words in Spam/Ham Emails")
plt.tight_layout()
plt.show()

<!-- END QUESTION -->



When the feature is binary, it makes sense to compare its proportions across classes (as in the previous question). Otherwise, if the feature can take on numeric values, we can compare the distributions of these values for different classes.

## Fit the classification model

Notice that the output of `words_in_texts(words, train['email'])` is a numeric matrix containing features for each email. This means we can use it directly to train a classifier!

### Question 13

You have given you 5 words that might be useful as features to distinguish spam/ham emails. Use these words as well as the `train` DataFrame to create two NumPy arrays: `X_train` and `Y_train`.

`X_train` should be a matrix of 0s and 1s created by using your `words_in_texts` function on all the emails in the training set.

`Y_train` should be a vector of the correct labels for each email in the training set.

<!--
BEGIN QUESTION
name: q13
points: 2
-->

In [ ]:
some_words = ['drug', 'bank', 'prescription', 'memo', 'private']

X_train = words_in_texts(some_words, train['email'])
Y_train = train['spam'].to_numpy()

X_train[:5], Y_train[:5]

### Question 14

Now that we have matrices, we can build a model with `scikit-learn`! Using the [`LogisticRegression`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) classifier, train a logistic regression model using `X_train` and `Y_train`. Then, output the model's training accuracy below. You should get an accuracy of around $0.75$

<!--
BEGIN QUESTION
name: q14
points: 2
-->

In [ ]:
model = linear_model.LogisticRegression().fit(X_train, Y_train)
...

training_accuracy = model.score(X_train, Y_train)
print("Training Accuracy: ", training_accuracy)

### Evaluating the classification model

The classifier you made above isn't as good as the accuracy would make you believe. First, we are evaluating accuracy on the training set, which may provide a misleading accuracy measure. Accuracy on the training set doesn't always translate to accuracy in the real world (on the test set). In future parts of this analysis, we will hold out some of our data for model validation and comparison.

Presumably, our classifier will be used for **filtering**, i.e. preventing messages labeled `spam` from reaching someone's inbox. There are two kinds of errors we can make:
- False positive (FP): a ham email gets flagged as spam and filtered out of the inbox.
- False negative (FN): a spam email gets mislabeled as ham and ends up in the inbox.

To be clear, we label spam emails as 1 and ham emails as 0. These definitions depend both on the true labels and the predicted labels. False positives and false negatives may be of differing importance, leading us to consider more ways of evaluating a classifier, in addition to overall accuracy:

**Precision** measures the proportion $\frac{\text{TP}}{\text{TP} + \text{FP}}$ of emails flagged as spam that are actually spam.

**Recall** measures the proportion $\frac{\text{TP}}{\text{TP} + \text{FN}}$ of spam emails that were correctly flagged as spam. 

**False-alarm rate** measures the proportion $\frac{\text{FP}}{\text{FP} + \text{TN}}$ of ham emails that were incorrectly flagged as spam. 

The two graphics below may help you understand precision and recall visually:

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Precisionrecall.svg/700px-Precisionrecall.svg.png" width="500px">

Note that a true positive (TP) is a spam email that is classified as spam, and a true negative (TN) is a ham email that is classified as ham.

### Question 15a

Suppose we have a classifier `zero_predictor` that always predicts 0 (never predicts positive). How many false positives and false negatives would this classifier have if it were evaluated on the training set and its results were compared to `Y_train`? Fill in the variables below (feel free to hard code your answers for this part):

<!--
BEGIN QUESTION
name: q15a
points: 1
-->

In [ ]:
# give your hard coded answers below for the values of False Positives and False Negatives
zero_predictor_fp = len(train[train['spam'] == 1])
zero_predictor_fn = 0
zero_predictor_fp, zero_predictor_fn

### Question 15b

What is the accuracy and recall of `zero_predictor` (classifies every email as ham) on the training set? Do **NOT** use any `sklearn` functions.

<!--
BEGIN QUESTION
name: q15b
points: 1
-->

In [ ]:
zero_predictor_acc = len(train[train['spam'] == 0]) / len(train)
zero_predictor_recall = 0
zero_predictor_acc, zero_predictor_recall

### Question 15c

Compute the precision, recall, and false-alarm rate of the `LogisticRegression` classifier created and trained in Question 14. Do **NOT** use any `sklearn` functions.

<!--
BEGIN QUESTION
name: q15c
points: 2
-->

In [ ]:
Y_train_pred = model.predict(X_train)

TP = np.sum((Y_train==1) & (Y_train_pred==1))
TN = np.sum((Y_train==0) & (Y_train_pred==0))
FP = np.sum((Y_train==0) & (Y_train_pred==1))
FN = np.sum((Y_train==1) & (Y_train_pred==0))

logistic_predictor_precision = TP / (TP + FP)
logistic_predictor_recall = TP / (TP + FN)
logistic_predictor_far = FP / (TN + FP)

print("Precision: ", logistic_predictor_precision)
print("Recall: ", logistic_predictor_recall)
print("False Alarm Rate: ", logistic_predictor_far)

<!-- BEGIN QUESTION -->

### Question 15d

1. How does fitted model's prediction accuracy (number of correct predictions / total) is compared with predicting 0 for every email?
2. Given the word features given above, name one reason this classifier is performing poorly. Hint: Think about how prevalent these words are in the email set.
3. Which of these two classifiers would you prefer for a spam filter and why? Describe your reasoning and relate it to at least one of the evaluation metrics you have computed so far.

<!--
BEGIN QUESTION
name: q15d
manual: True
points: 3
-->

1- The fitted model's prediction accuracy is likely to be higher compared to predicting 0 for every email as it is using the word features to make predictions about the email labels, whereas always predicting 0 will result in a low accuracy rate.

2- One reason the classifier is performing poorly is that the word features used are not very specific to spam emails. For example, the word "bank" is present in both spam and ham emails, so it is not a reliable feature to differentiate between the two.

3- For a spam filter, I would prefer the fitted logistic regression model. While it may not have a high accuracy, it is still better than always predicting 0. Additionally, the precision of the model is relatively high, which means that the model is good at not classifying ham emails as spam. This is important because falsely marking ham emails as spam can be very disruptive to the user.